* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff7a18, #ff9f43);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.register-box {
  background: #fff;
  width: 380px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  text-align: center;
}

/* TITLE */
.register-box h2 {
  margin-bottom: 25px;
  color: #ff7a18;
  font-weight: 700;
}

/* INPUT */
.register-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.register-box input:focus {
  border-color: #ff7a18;
  outline: none;
  box-shadow: 0 0 5px rgba(255,122,24,0.4);
}

/* BUTTON */
.register-box button {
  width: 100%;
  padding: 12px;
  background: #ff7a18;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.register-box button:hover {
  background: #e86b10;
}

/* LINK */
.register-box p {
  margin-top: 18px;
  font-size: 14px;
}

.register-box a {
  color: #ff7a18;
  text-decoration: none;
  font-weight: 600;
}

.register-box a:hover {
  text-decoration: underline;
}
